h3 you are logged in and at home page!!
a(href="/logout") Logout
if !message
    p
else
    if  message.warning === true
        .alert.alert-warning
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
            p= message.value
    else
        .alert.alert-success
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
            p= message.value
p !{user}
- var json =  JSON.stringify(user)
    p !{json}
    p Username:
    p= user.username
    p Password:
    p= user.password